{{- with .Params.faqs }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
    {{- range $i, $faq := . -}}
    {{- $q := $faq.q -}}
    {{- $a := $faq.a -}}
    {{- if reflect.IsMap $faq -}}
      {{- $q = index $faq "q" -}}
      {{- $a = index $faq "a" -}}
    {{- end -}}
    {{- if $i }},{{ end }}
    {
      "@type": "Question",
      "name": {{ $q | plainify }},
      "acceptedAnswer": {
        "@type": "Answer",
        "text": {{ $a | plainify }}
      }
    }
    {{- end }}
  ]
}
</script>
{{- end }}
